div{
    width: 400px;
    height: 400px;
    background-color: rgb(85, 88, 92);
    background-image: url(Pic/css-assignment-5-8.png);
    margin: 30px;

}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    background-size: 80%;
    background-position: right;
    background-repeat: repeat-y;
}
.assign-4-shape-3{
    background-size: 80%;
    background-position: bottom;
    background-repeat: repeat-x;
}
.assign-4-shape-4{
    background-size: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
}