*{
    box-sizing: border-box;
}
h1{
    width: 150px;
    padding: 20px;
    margin: 20px auto;
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: #ff5722;
}
h1::after{
    content: "";
    z-index: -1;
    background-color: #ff5722;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(10deg,10deg);
    -webkit-transform: skew(10deg,10deg);
    -moz-transform: skew(10deg,10deg);
    -ms-transform: skew(10deg,10deg);
    -o-transform: skew(10deg,10deg);
}
h1::before{
    content: "";
    z-index: -1;
    background-color: #ff5722;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(-10deg,-10deg);
    -webkit-transform: skew(-10deg,-10deg);
    -moz-transform: skew(-10deg,-10deg);
    -ms-transform: skew(-10deg,-10deg);
    -o-transform: skew(-10deg,-10deg);
}


