div{
    width: 500px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,34,226);
    background-color: #8A2BE2;
}
.assign-1-shape-2{
    background-color: rgb(138,34,226 ,50%);
}
.assign-1-shape-3{
    background-color: rgb(138,34,226 ,10%);
}