div{
    display: inline;
    background-color: rgb(137, 143, 149);
    outline: 5px black solid;
    border-width: 5px;
    padding: 5px;
    margin: 20px;
}
.first{
    border-color: red ;
    border-style: solid;
}
.second{
    border-style: solid;
    border-color: blue green;
}
.third{
    border-style: dashed;
    border-color: red green blue yellow;
}