a{
    background-color: rgb(71, 134, 113);
    color: white;
    padding: 10px;
    display: block;
    width: fit-content;
    margin: 15px auto;
    text-transform: capitalize;
    border-bottom: 5px solid rgb(3, 78, 48);
    text-decoration: none;
}